[2015-05-14 10:56] snlongmore opened #23 "Suggestions for things that need changing"
1. Remove text "This is a page with a figure"

2. Fix axis lables -> sort latexing

3. Get rid of text at the bottom "imagename..."

4. In legend, make sure rectangles next to people's names initialises as filled.

5. Sort out menu bar (home, query database, upload data) so it has the same formatting as rest of website.

6. Change the text colour from white to black when cursor over data points

[2015-05-14 11:02] e-koch commented on #23
6 addressed by #24

[2015-05-14 11:47] scog1234 commented on #23
1 and 3 addressed by #25

[2015-05-14 11:48] e-koch opened #26 "Query form looks in uploads instead of database"
[code]

[2015-05-14 11:51] scog1234 commented on #26
UPLOAD_FOLDER needs changing to DATABASE_FOLDER on this line:
     table = Table.read(os.path.join(app.config['UPLOAD_FOLDER'], filename), format='ascii.ipac')

[2015-05-14 11:59] e-koch commented on #26
Addressed in #27

[2015-05-14 11:59] #26 closed

[2015-05-14 12:23] bcommerc commented on #23
1. Upload file with specific extension: is it possible to keep the loaded file as "Chosen file" when specifying extension (need to reload it)?

[2015-05-14 12:31] scog1234 commented on #23
7 addressed by #30

[2015-05-14 12:43] e-koch opened #31 "Make optional input in plotData to set labels"
Labels dictionary is hardcoded into the general plotting function. Should be moved to the Sigma-sigma-R function and made into an optional argument.

[2015-05-14 13:15] bcommerc opened #34 "Suggestions (continued)"
Upload file with specific extension: is it possible to keep the loaded file as "Chosen file" when specifying extension (need to reload it)?

[2015-05-14 13:26] e-koch commented on #23
@snlongmore @bcommerc
Note you can make check boxes with

[code]

and check the with

[code]

[2015-05-14 14:06] e-koch opened #35 "Clickable interactive plots"
Add clicking, which opens a little window with the info or links to a full page with maybe more info than is shown in the hover.

[2015-05-14 14:44] keflavich opened #37 "Exception: Adding merged_table.ipac to the commit failed."
[code]

[2015-05-14 14:45] jimdale commented on #37
Me too :(

[2015-05-14 14:45] scog1234 commented on #37
I get the same problem

[2015-05-14 14:45] jmdkastro opened #38 "Exception: Checking out a new branch in the database failed. Attempted to checkout branch DiederikKruijssen_2015-05-14T16_43_45.357033"
[code]

[2015-05-14 14:47] snlongmore commented on #37
Same here :-1:

[2015-05-14 14:54] e-koch opened #39 "gitignore should include created folders in static"

[2015-05-14 15:06] saci86 commented on #37
I got the same.... :(

[2015-05-14 15:17] e-koch opened #42 "Alternates for plot labels?"
Unicode works for now, but it may be better to use HTML, or latex if mpld3 can start supporting it.

[2015-05-14 15:45] jimdale opened #44 "Exception: Error: the remote URL https://github.com/camelot-project/frontend.git (which is really 'frontend') does not match the expected one 'database'"
I get this when i try to upload new data :(

[2015-05-15 07:28] agianne opened #45 "Error when reading tables with more than one header lines"
The upload of my datafile failed as it contains a second commented row specifying the units, and it tried to parse that as a data row, raising a type error.
We could add a check to discard all commented rows/a tool to manipulate tables before submission.

[2015-05-15 08:20] #38 closed

[2015-05-15 08:26] keflavich opened #46 "Query Page: Add link to table subset download"
The query result page should have a table download link (possibly in multiple formats, but for now just IPAC).

[2015-05-15 08:27] keflavich opened #47 "Query Page: Prevent min=0"
The minimum value in the table can be 0.0, but because we're plotting logscaled data that should not be allowed.

[2015-05-15 08:31] e-koch opened #48 "Plot limits: adjust for size of markers to avoid cut-off"
Will involve mapping the marker size to sizes in the plot.

http://stackoverflow.com/questions/14827650/pyplot-scatter-plot-marker-size

[2015-05-15 09:18] e-koch commented on #23
2 done, for now, in #40

[2015-05-15 09:46] bcommerc opened #49 "Query form: plotting does not work when Galactic or Extragalactic are disabled"
[code]

[2015-05-15 10:26] snlongmore opened #52 "When user submits a new dataset, a link should be shown to the new pull request."

[2015-05-15 10:53] jimdale commented on #23
It would be very cool if there was a button you cloud click on the interactive plot page which makes
(i) a hardcopy of whatever is in the interactive window
(ii) an ascii file of that data too

[2015-05-15 17:04] scog1234 opened #56 "Mouseover text shouldn't be shown for hidden points in plot"
In the interactive plot, it's possible to hide some or all of the different data sets by clicking on the box next to the username (which is a nice feature, by the way). However, the mouseover text still shows up for points that have been hidden this way, which is very confusing.

[2015-05-15 18:58] e-koch commented on #56
This one will be a bit more work to fix up. I imagine we will have to write our own mpld3 plugin that accommodates the legend and hover classes.

[2015-05-15 19:24] e-koch commented on #49
@bcommerc -- I can't reproduce this error anymore. Selecting neither of them now appears to give a blank plot. Perhaps it was fixed?

Can you retry it when you have a chance to confirm?

If anyone else can confirm this, that would be great as well.

[2015-05-15 19:27] e-koch commented on #31
May be best to have a globally defined labels dictionary that we can add to when more parameters are added.

[2015-05-15 19:29] e-koch commented on #23
@jimdale -- This would be really handy; I'm going to move it into its own issue so it doesn't get buried.

[2015-05-15 19:32] e-koch opened #58 "Save current view of interactive plot and table of that data"
From #23 - @jimdale :
It would be very cool if there was a button you cloud click on the interactive plot page which makes
(i) a hardcopy of whatever is in the interactive window
(ii) an ascii file of that data too

[2015-05-15 19:34] scog1234 commented on #49
I've just tried it, and I also get a blank plot rather than the error that @bcommerc reported.

[2015-05-15 19:35] e-koch commented on #49
Cool, sounds like it was fixed at some point.

[2015-05-15 19:35] #49 closed

[2015-05-15 20:25] jmdkastro commented on #58
@e-koch @jimdale I added a hardcopy of the table this morning, but it is not live yet because of a big list of conflicts in the merge (see #54). Adam has been working on the merge and this should be ready soon. Adding a hardcopy of the figure may require some more thought.

[2015-05-15 20:26] jmdkastro commented on #47
@keflavich @saci86 @afmcl I understand that Anna has been working on a fix for this that is ready to be committed.

[2015-05-15 20:30] jmdkastro commented on #23
8 addressed by #32

[2015-05-15 20:31] jmdkastro commented on #46
This is included in #54, which will be merged by Adam soon^(tm).

[2015-05-15 20:32] #46 closed

[2015-05-15 20:36] keflavich commented on #58
#54 is merged and closed now

[2015-05-15 20:37] jmdkastro opened #61 "Add source link to database entries"
Early in the week, a main goal was to have an ADS link, DOI link, or email address associated with each data entry, which could possibly be clicked in Eric's plot pop-up.

Given the guaranteed long-term accessibility, we should focus on including ADS links (or a DOI link to the dataset if no paper exists). The entry can be the ADS ID, and the plotting/pop-up code can then complete the URL.

[2015-05-15 20:38] e-koch commented on #61
Relates to #35

[2015-05-15 21:00] jmdkastro commented on #23
5, 10, 14 addressed by #62

[2015-05-16 09:53] keflavich opened #65 "Add a citation link in footer"
cc @jmdkastro - maybe fill in something temporary for now?  We'll use zenodo to get a DOI.

[2015-05-16 11:12] keflavich commented on #52
Handled by #57

[2015-05-16 11:12] #52 closed

[2015-05-16 11:15] keflavich commented on #37
Probably solved now.  Raise a fresh issue if this comes up again.

[2015-05-16 11:15] #37 closed

[2015-05-16 11:15] keflavich commented on #44
Probably solved now.  Raise again if it appears again.

[2015-05-16 11:15] #44 closed

[2015-05-16 11:17] keflavich commented on #39
I think with the new framework this is no longer relevant.  `uploads/` and `database/` are both submodules now.  Could you close this if you agree @e-koch ?

[2015-05-16 14:51] scog1234 opened #68 "Enable duplicate checking when storing uploaded entries in the merged table"
Right now, we check for duplicate entries, but don't actually do anything if we find them. What we should do is warn the user that some of the entries in their uploaded data are duplicates (in the sense of having the same Username & IDs) as entries that already exist in the table. They should then be asked whether they want to replace the old entries (in which case, we should call the routine upda

[2015-05-16 14:53] scog1234 commented on #61
Question: will this be optional, or do we want to require this by preventing users from uploading data unless they specify a valid ADS ID?

[2015-05-16 14:55] jimdale commented on #61
I think requiring an ADS ID would serve as a form of quality assurance so I'm inclined to require it. Are there circumstances where it would be very beneficial to have unpublished data in the database?

[2015-05-16 14:59] keflavich commented on #61
I think requiring an ADS ID is reasonable, at least for now.  Perhaps we could default to 'unpublished', though, to provide some flexibility?

[2015-05-16 15:01] jimdale commented on #61
We could do that - it would mean we have to have another button on the query form in case people want plots with only published data, though.

[2015-05-16 15:12] keflavich commented on #61
That's not a bad idea.  We will require a DOI, though - if there is no link to a permanent data source, we should reject.

[2015-05-16 15:13] jimdale commented on #61
Yes, that sounds like the way forward .

[2015-05-16 17:55] jmdkastro commented on #61
So just to confirm: we will _not_ add a "published data only" checkbox on the query form, as we will only be accepting published data. So the upload form should check for a valid ADS ID or DOI (perhaps through two text boxes, checking if at least one has a valid (!) entry).

[2015-05-16 17:57] keflavich commented on #61
@jmdkastro that's not quite what I meant.  I was thinking we _would_ accept unpublished data, in the sense of not published in an ADS-identified article, but require that the data set has at minimum a DOI.  Perhaps this deserves further discussion via e-mail?

[2015-05-16 17:57] jmdkastro commented on #65
Yes, I'll work on this after 6 June though, as I still have not gotten the actual footer functionality to work. The reason you now see a white bar is that I've included it in the CSS. It's also not "sticky" yet in that its minimum height above the bottom edge of the screen can be negative. I'll fix it, but need to look into it in detail. Given that it's not urgent, I think early June is OK.

Regar

[2015-05-16 18:00] keflavich commented on #65
@jmdkastro Good question.  I don't think ADS will track DOIs.   Perhaps it is best to leave that empty for now, or put in some sort of placeholder.

[2015-05-16 18:01] jmdkastro commented on #61
That's exactly what I mean, sorry for my ambiguous phrasing. In a way, ADS or DOI are both "published", but we can nonetheless add an "unpublished" (DOI only) and "published" (ADS and possibly also DOI) checkbox just like for sim/obs and gal/exgal. Of course, this will require an extra column in the database.

[2015-05-16 18:02] jmdkastro commented on #65
Good, let's first go with a placeholder then.

[2015-05-16 18:41] e-koch commented on #39
@keflavich -- I agree for the submodules, but I think the folders created for plots and table within static should be ignored. These are only going to be created if the server is run locally and ignoring will avoid any accidental committing.

[2015-05-17 06:33] e-koch commented on #56
Number 4 in #23 should also be addressed while fixing this.

[2015-05-17 11:24] jmdkastro commented on #23
12 addressed for query form by #73 -- upload form still to be done.

[2015-05-17 11:54] jmdkastro commented on #23
12 addressed entirely by including upload form in #77 and #79

[2015-05-17 13:12] jmdkastro opened #80 "Uploading observational csv flags IsSimulated=True"
![image](https://cloud.githubusercontent.com/assets/12392015/7670491/0879682c-fca7-11e4-938a-6b8e771bc22c.png)
![image](https://cloud.githubusercontent.com/assets/12392015/7670492/106f5dca-fca7-11e4-8e40-6cfccfed5779.png)

[2015-05-17 13:13] keflavich commented on #80
good catch

[2015-05-17 13:16] jmdkastro commented on #80
@keflavich Also, the upload button becomes clickable when only the 1st author is specified and the email address is still empty, even though the email address text box is flagged as "required" in the html.

[2015-05-17 21:50] agianne commented on #23
17 addressed in #81

[2015-05-17 23:20] agianne commented on #23
Got a fix for 4. This implies a change in plugins.py from mpld3. Should I make a pull request?

[2015-05-17 23:22] e-koch commented on #23
@agianne -- Sure! Is there another plugin that already does this? Or did you fix the plugin?

[2015-05-17 23:23] agianne commented on #23
I fixed the plugin, it was just the variable initialisation

[2015-05-17 23:26] e-koch commented on #23
Cool. I imagine the pull request would will be accepted pretty quickly at mpld3.

[2015-05-18 04:57] keflavich commented on #23
@agianne if you submit that PR to mpld3, could you link it here?

[2015-05-18 07:14] agianne commented on #23
Pull request to mpld3: https://github.com/jakevdp/mpld3/pull/291

[2015-05-18 14:41] jimdale opened #87 "Plotting tracks in parameter space for simulations."
I've been experimenting with how show tracks of simulations in param space - I attach a plot with four alternatives. Top left panel is just doing what we are doing already, except I have two versions of the same simulation  - no feedback in blue, feedback in red - at about 12 different timesteps, observed from 24 different angles. Choosing one angle and plotting all 12 timesteps seen from that ang

[2015-05-18 14:56] keflavich commented on #87
I think mpld3 supports contours but nothing else, so that should be one motivation to go with contours.

In order to display any of this usefully, I think we'll need some major enhancements to the plotter.

One in particular that would be useful: if we could get the d3 plot to use the data that is in the table shown on the same page.  That would save a factor of 2 in data size and would also enabl

[2015-05-18 15:00] jimdale commented on #87
Good - the contours look better anyway, as long as they can be shown as patches and not just lines - I'll have to see if mpld3 can do that, unless anyone knows off the top of their head?

[2015-05-18 15:32] snlongmore commented on #87
Hi Jim,

Nice! I also like the bottom left one best. As you say, the top left panel is very misleading.

Sorry, no idea if mpld3 can do that.

Steve

[2015-05-18 19:23] keflavich commented on #61
Solved by #84

[2015-05-18 19:23] #61 closed

[2015-05-18 19:23] keflavich commented on #47
solved by #86

[2015-05-18 19:23] #47 closed

[2015-05-18 19:24] keflavich commented on #39
Solved by #82

[2015-05-18 19:24] #39 closed

[2015-05-18 19:25] keflavich opened #91 "Give useful messages when columns are missing"
If columns are missing, the server will crash.  @saci86, I think you were working on a solution for this.  Do you have one in hand?

[2015-05-19 23:06] e-koch commented on #87
Nice! I like the bottom left as well.

I went through the basic mpld3 test with contours. It's maybe a bit primitive wrt to say the scatter plots, but it will certainly work.

I think this will require a close to full rewrite of how the plotting is done, but I don't think it will be too awful. Some rethinking of how we represent one simulation track with the hover tool is needed. I think overlap b

[2015-05-20 12:30] agianne commented on #56
I had a look at the current plugin, we should find a way to redefine the list of elements to exclude hidden datapoints.

[2015-05-21 23:23] agianne commented on #56
I fixed the plugin so that it doesn't show the label if the points are hidden. Will try a pull request tomorrow.

[2015-05-22 09:54] agianne commented on #56
I have updated the pull request to include this feature: jakevdp/mpld3#291
My two lines of code are not very "clean", as I am by no means an expert of JS, if you have ideas or suggestions just let me know!

[2015-05-25 21:30] jimdale opened #95 "Weekly Digest/Progress Summary up to May 25"
Below is a brief summary of the most important improvements in the 10 days since the workshop - let me know if I left out anything important:

DIGEST WEEK 1:

Database:
(i) Discussed whether ADS/DOI info should be a prerequisite for submission to the database and concluded that it should be
(ii) New data tables by CaraBattersby, SimonGLover, MarkHeyer, AndreaGiannetti, BenoitCommercon, DanielWalke

[2015-05-26 13:38] snlongmore opened #97 "Add current version of software running on Heroku in the webpage footer"
Do I understand correctly that some manual massaging is required to port the latest version of the software to Heroku? If so, it would be good to have the current version of the software on Heroku automatically displayed in the footer of the webpage to make sure we are using the latest version.

[2015-05-26 13:41] keflavich commented on #97
Every time there is a change to master on the repository, it needs to be _deployed_ to heroku, which means that I do:
`git push heroku master`
on my version of the repo.  Anyone with access can do this - just e-mail me to get access.

Version IDs in the footer would be great!  I don't know how to do this yet; heroku ditches the git-repository-ness of its git clone and loses the capability of intro

[2015-05-29 09:42] scog1234 opened #100 "Unable to download query results from web app"
When I click on the "Download query results" button on the query output page on http://camelot-project.herokuapp.com, I get the following error:

Method Not Allowed

The method GET is not allowed for the requested URL.

[2015-05-29 09:45] keflavich commented on #100
This is a clear bug in the URL, which is being rendered as `action="method="get""` because `{{tablefile}}` is not being set properly.

[2015-05-29 09:58] jmdkastro opened #101 "Symbol size in interactive plot"
- [ ] 1. It would be nice to add a line to the legend indicating the symbol size for 100-pc clouds.
 - [ ] 2. The symbol size should have a floor on top of which the changing scale is added. For the current default limits, Cara's data point at log{Sigma,sigma} = {3.8,0.08} is a single pixel and therefore almost invisible.

[2015-05-29 15:03] e-koch commented on #101
For point 1, we could make the example size symbols shown adjustable based on the max/min sizes. The default could be to continue to show three points rounded to the nearest powers of 10.

The second point relates to the conversion between the physical size and the pixel size in the image, which is also needed for #48.

[2015-05-31 05:30] e-koch opened #103 "Bad path to table?"
![screen shot 2015-05-30 at 11 20 27 pm](https://cloud.githubusercontent.com/assets/3255771/7900693/9cf1eed0-0723-11e5-8ac2-b9550964838d.png)

Here's what the path is: http://camelot-project.herokuapp.com/static/jstables/static/jstables/Output_Table_20150531052709429032.ipac?1433050031223

"static/jstables" is getting appended twice somewhere.

[2015-05-31 23:48] keflavich commented on #103
this is a problem with serving quasi-static files from flask.  I solved it, but the solution didn't stick and I don't understand why.  My solution was this:
[code]
which worked when I tested it the first time, but it definitely doesn't work now.  I'm open to suggestions - right now I have no ideas.

[2015-06-03 12:27] jimdale opened #105 "Weekly Digest/Progress Summary up to June 2"
DIGEST WEEK 2:

Database:
(i) New data tables from MarkSwinbank, LisaWei, AdamGinsburg, ErikRosolowsky,
(ii) Persistent error with the database sometimes apparently being updated even when the submission form throws an error solved (I think)

Webpage:
(i) Bugfix added to deal gracefully with inadmissible characters in column names
(ii) Useful error page for bad commits created
(iii) Bugfix added t

[2015-06-03 12:57] agianne commented on #105
The colourscale plus arrow seems sweet!

[2015-06-05 20:07] e-koch commented on #101
Fixed in #108

[2015-06-05 20:07] #101 closed

[2015-06-05 20:08] e-koch commented on #48
Fixed in #108

[2015-06-05 20:08] #48 closed

[2015-06-05 20:09] e-koch commented on #31
A global dictionary is now in there. I think that's what I had meant? Closing.

[2015-06-05 20:09] #31 closed

[2015-06-05 20:13] e-koch commented on #105
Cool! We can attach the hover tool to the line/arrowhead to represent the whole sim.

[2015-06-09 10:14] jmdkastro opened #109 "Datapoint ID requirements"
@snlongmore @keflavich
Quickly checking the latest uploads on really crappy wifi, I have a brief suggestion.

We should include a check/requirement upon submission that the IDs are useful -- the uploaded MarkSwinbank, AlbertoBolatto, and LisaWei datasets have IDs that are simple numbers running from 1 to N. This is asking for trouble (and we should change this!), as any new datasets by one of thes

[2015-06-10 09:18] snlongmore commented on #109
@jmdkastro @keflavich
Good point. I agree, it would be good to have a check/requirement and also add a some text on the upload page explaining this and showing some good/bad examples. I’m afraid at the moment I don’t have time to go through the Bolatto, Swinbank and Wei papers and add unique IDs then re-upload.

Note that some observers/simulators do simply label their objects numerically. But as

[2015-06-10 09:19] snlongmore commented on #109
On a related point...

Regarding the plotting, rather than having the legend label be “FirstnameLastname", wouldn't it be better to have "Lastname + journal paper ID/DOI”? That way you can distinguish between multiple papers from the same first author.

[2015-06-10 11:48] keflavich commented on #109
Agreed that FirstnameLastnameADSID or FirstnameLastnameDOI would be better.

[2015-06-12 13:59] keflavich opened #110 "Simplify merging of database + uploads PRs"
It looks like most database PRs have been merged without their corresponding Upload PRs being merged.  This is probably because people simply forgot.  It would therefore make sense to require merging of the Upload PR with the Database PR by having them be the same button.

Probably the best way to do this would be to have the Database and Uploads be in the same repository.  There really isn't a ne

[2015-06-12 20:24] e-koch commented on #23
@agianne 's PR was included in another PR to mpld3, which is now merged: https://github.com/jakevdp/mpld3/pull/299

So 4 has been addressed.

[2015-06-12 20:27] e-koch commented on #56
This is now fixed in mpld3: https://github.com/jakevdp/mpld3/pull/299

[2015-06-12 20:27] #56 closed

[2015-06-15 13:08] jmdkastro commented on #109
Even then, there may be more than one galaxy in a single paper. I don't think that observers continue the numbering between different host galaxies but start over. Making sure IDs include this seems like a natural solution.

Why is more than one upload per paper a problem? Harder to check for duplicates? From a user perspective, I think this should be possible. When you already know multiple table

[2015-06-15 14:54] keflavich opened #112 "Failure to upload file with error 403"
Cross-listing of this issue from @snlongmore :
https://github.com/camelot-project/database/issues/79#issuecomment-110300938

I just tried to upload Mark Heyer's data with these parameters

![screenshot1](https://cloud.githubusercontent.com/assets/12394899/8055538/2463fe32-0e98-11e5-869b-c7e2c478c07c.png)

and got the following error:

![screenshot 2](https://cloud.githubusercontent.com/assets/1239

[2015-06-15 15:20] keflavich commented on #112
@snlongmore - could you just try this again?  I think this was a temporary issue.  If it fails again, send me the data file.

[2015-06-16 07:10] keflavich commented on #109
Re-reading through this: in order for an object to end up in a publication, it needs some sort of unique identifier.  "Galaxy 1" should never show up in an ID list: galaxies have names.  Simulated galaxies might have IDs like "Author: Publication: Galaxy 1", but again these should be unique (modulo timestep).  So, I agree with @jmdkastro's original post.

@snlongmore, are there some examples of nu

[2015-06-16 07:11] keflavich commented on #109
@snlongmore I think multiple uploads per paper are needed because the underlying catalog - the thing that goes to `uploads/` - may not be uniform.

[2015-06-16 07:13] keflavich commented on #105
Moved to wiki: https://github.com/camelot-project/frontend/wiki/Weekly-Digest-%232

[2015-06-16 07:13] #105 closed

[2015-06-16 07:29] keflavich commented on #103
This problem seems to be gone in the current master

[2015-06-16 07:37] keflavich commented on #97
I have changed this: all merges into `frontend/master` will automatically be deployed to heroku.

I still have no way to include version IDs for the frontend.  I can do that for the database though...

[2015-06-16 07:37] keflavich commented on #103
OK, and it's back!  Hooray!

[2015-06-16 07:48] keflavich commented on #95
Moved to https://github.com/camelot-project/frontend/wiki/Weekly-Digest-%231

[2015-06-16 07:48] #95 closed

[2015-06-16 08:33] scog1234 opened #114 "Add a help page"
We should add a help page giving some basic instructions on how to upload data and how to use the query form.

[2015-06-16 08:52] jmdkastro opened #115 "Extended dataset information"
The legend of the plot should include an extra (small-font) line to indicate the specific dataset below each author. This will allow multiple datasets per author (or possibly also per paper).

[2015-06-16 08:54] bcommerc opened #116 "Small text/example about the file format on the first upload page"
On the first upload page, there is no information about the accepted file formats. Maybe just show a small example of what can be uploaded.

[2015-06-16 08:55] jmdkastro opened #117 "Large number of entries causes an exploding figure legend"
We need a solution to deal with the legend when the database has become so large that the legend extends beyond the plot.

Possible solutions:
- (right)click datapoint in plot to be able to switch off that dataset; of course, this only works one way (you cannot switch on an invisible dataset)
- ...

[2015-06-16 08:58] jmdkastro opened #118 "Extended plot interactivity by live querying"
We should keep a copy of the query form on the plotting page that enables the user to switch on/off groups of data (obs/sim, gal/exgal) and adjust parameter ranges.

Vice versa, it would be great if the zoom interaction with the plot updates the range values in this form (so that both can be combined in getting your "perfect plot").

[2015-06-16 08:59] jmdkastro opened #119 "Download PNG button"
At query time, a PNG of the plot is generated. We need a download PNG button on the plot page.

After addressing issue #118 in its entirety, a click on query will then allow the user to download an exact copy of the plot they just made.

[2015-06-16 09:01] keflavich commented on #114
A help page for the upload form is also necessary.

@afmcl I'm assigning this one to you - could you draft up a simple help page?  It can just be text, or html as well if you're more ambitious.

[2015-06-16 09:01] jmdkastro opened #120 "Add footer"
We need a footer on the website with contact information (email) and a link to a citation policy.

[2015-06-16 09:02] keflavich commented on #115
This issue may need to branch out into a more substantial feature enhancement, e.g. linking the plot to a live data table.

[2015-06-16 09:03] keflavich commented on #116
Good idea.  @bcommerc, could you start by adding a small blurb, i.e. a little text saying "many file formats are accepted, e.g. csv, ... The required columns are those in the Query Form".  We'll want to link this to the Help page once that's ready (https://github.com/camelot-project/frontend/issues/114)

[2015-06-16 09:04] keflavich commented on #117
- Add an interactive/searchable table below the plot which would allow data selection/removal (hard but cool)

[2015-06-16 09:05] keflavich commented on #119
@e-koch can you take this?

[2015-06-16 09:06] keflavich commented on #120
our gmail account is sirarthurthesubmitter@gmail.com

[2015-06-16 09:06] e-koch opened #121 "How to update mpld3 on heroku"
Update local version of mpld3 repo or update a link to new version of the js file?

Once we know how to do it, writing a helper function to check for updates to dependent packages would be useful.

[2015-06-16 09:06] keflavich opened #122 "Update mpld3"
@e-koch @agianne

[2015-06-16 09:06] e-koch commented on #119
@keflavich  Yup. I'm on it.

[2015-06-16 09:08] keflavich opened #123 "Handle overlapping points becoming opaque"
When many points from the same data set, especially those that are physically large, are overlaid, they become opaque, e.g. TonyWong in this case:

![image](https://cloud.githubusercontent.com/assets/143715/8179584/ecfb3e3a-1417-11e5-8614-a972ed4c97ea.png)

We should allow either order or transparency to be adjusted.

[2015-06-16 09:10] e-koch commented on #115
The legend could be hierarchal. The original view is kept, but pressing on an author's name will yield a sub legend that allows you to specify which datasets should be shown. Distinguishing between the sets may be an issue.

[2015-06-16 09:13] jmdkastro commented on #115
Great idea. On the super-author level, we could group into the four subsets obs/gal, obs/exgal, sim/gal, sim/exgal.

Of course, in the long run, the database will still become too full, so it's only a temporary solution.

[2015-06-16 09:13] e-koch opened #124 "Set alpha values in legend"
This should be set in our own plotting script. I think ```alpha_unsel``` and ```alpha_sel``` just need to be specified when creating the legend.

[2015-06-16 09:13] jmdkastro commented on #115
How about a scroll bar only in the legend (i.e. not scroll the plot itself)? Could that be coded?

[2015-06-16 09:14] e-koch commented on #115
There must be some way to do that. I think it will be something we will require at some point regardless.

[2015-06-16 09:15] e-koch opened #125 "Scrollbar in the legend"
To deal with long legends.

[2015-06-16 09:16] e-koch commented on #121
Duplicate of #122. Closing.

[2015-06-16 09:16] #121 closed

[2015-06-16 09:16] keflavich commented on #125
Is this possible with d3?

[2015-06-16 09:17] keflavich commented on #124
Related to #123: adjustable alpha within the plot would be awesome; I'm not sure if that's what you're suggesting here?

[2015-06-16 09:19] e-koch commented on #124
No, this would just be setting what the alpha of enabled/disabled points in the plot should be.

We may be able to do the adjustable alpha with only matplotlib, if the mpld3 legend doesn't default the existing points back to the `alpha_sel` value.

[2015-06-16 09:21] e-koch commented on #125
It seems there is [some support](http://www.billdwhite.com/wordpress/2014/05/17/d3-scalability-virtual-scrolling-for-large-visualizations/), but it may not be directly available in legends.

[2015-06-16 09:29] keflavich commented on #120
related: #65

[2015-06-16 09:30] keflavich commented on #119
related to #58

[2015-06-16 09:30] keflavich commented on #118
see #58

[2015-06-16 09:31] keflavich commented on #45
In the upload help form (#114) and notes on accepted formats (#116), we should point out that the second row isn't allowed until we've fixed this

[2015-06-16 10:33] agianne commented on #122
Addressed in https://github.com/camelot-project/frontend/pull/127

[2015-06-16 19:25] #122 closed

[2015-06-16 19:27] agianne commented on #124
@keflavich @e-koch I can look into this. For now, I would add a separate field in the query form asking for the transparency of the points, and then we can build from there, if you are ok with this.

[2015-06-16 19:33] e-koch commented on #124
@agianne @keflavich - I think we're discussing different things in this issue now. @agianne I think you addressed what I was talking about in #127 already, so I'm going to close this.

Let's move the discussion over to #123

[2015-06-16 19:33] #124 closed

[2015-06-16 19:35] e-koch commented on #123
@keflavich @agianne -- Do we want to make this an adjustable parameter that can be set when querying? Or some clever way of adjusting alpha on a per dataset basis based on density of points?

[2015-06-16 20:02] agianne commented on #123
@keflavich @e-koch It would be nice to have alpha adjusted on the basis of the density of points, but won't this also affect all the other points?

[2015-06-16 20:08] e-koch commented on #123
@agianne - I was thinking we could compute the density in the plane using all of the selected data, then scale the alphas by the dataset they belong to (so right now, by author). Then each dataset has a unique alpha based on how clustered the points are.

I guess this also depends on the resolution the plot is being viewed at...

[2015-06-17 12:13] jmdkastro opened #128 "ErikRosolowsky needs updating"
The ErikRosolowsky IsGalactic tag is set to True but should be False.

[2015-06-17 12:14] jmdkastro commented on #128
@e-koch This is probably a quick fix for you, so I've assigned you -- please feel free to decline :-)

[2015-06-17 12:19] jmdkastro opened #129 "Empty query results in error"
When he selection criteria in the query form imply that no data is selected for display, the server returns an error.

For instance, this:
![screen shot 2015-06-17 at 14 17 32 pm](https://cloud.githubusercontent.com/assets/12392015/8206634/b0d1d0ba-14fb-11e5-94f4-fe92841e97e5.png)

Leads to this:
![screen shot 2015-06-17 at 14 17 39 pm](https://cloud.githubusercontent.com/assets/12392015/8206639/c

[2015-06-17 15:05] e-koch commented on #128
Whoops. @jmdkastro Thanks for catching this!

[2015-06-17 15:35] e-koch commented on #128
Addressed [here](https://github.com/camelot-project/database/pull/97), so I'm going to close this.

[2015-06-17 15:35] #128 closed

[2015-06-18 13:56] snlongmore opened #131 "Symbols don't appear correctly in downloaded plot"
I queried the database and then tried to download the resulting plot as a PNG. As you'll see from the image below, the symbols in the axis lables are not formatted correctly.

Oh, and I guess the fact that the legend is missing is a feature and not a bug ;-) It would potentially make the plot too unwieldy with lots of datasets, right?

![output_sigma_sigma_r_20150618134315842010](https://cloud.git

[2015-06-18 13:58] snlongmore opened #132 "Request to add text to explain plot is interactive"
While writing up the beta testing email, I imagined myself seeing the website for the first time and realised I would not know that the plot returned after querying the database is interactive. It would be useful to have a very short piece of text explaining the plot is zoomable, points can be removed etc.

[2015-06-18 14:46] e-koch commented on #131
I think this is a quick fix (hopefully).

[2015-06-18 16:07] e-koch commented on #131
Addressed in #134.

[2015-06-18 16:07] #131 closed

[2015-06-18 16:56] e-koch commented on #132
Addressed in #135

[2015-06-18 16:56] #132 closed

[2015-06-18 18:08] jmdkastro opened #136 "Database purging doesn't work"
Generated plots stay on the server for more than the hard-coded five minute threshold after which new queries should delete old output. I have not checked if the same is true for output tables, but this should be checked.

[2015-06-18 18:25] keflavich commented on #136
@jmdkastro how did you determine this?  It will help me find the bug.

[2015-06-18 18:27] jmdkastro commented on #136
I generated a plot this afternoon at http://camelot-project.herokuapp.com/static/figures/Output_Sigma_sigma_r_20150618162012624428.png, then did another query 20 minutes ago (which was almost two hours later) and reopened the above link. The plot was still there. The same can be done for the table with the above ID.

[2015-06-19 16:58] e-koch commented on #119
Addressed in #130

[2015-06-19 16:58] #119 closed

[2015-06-21 20:29] ltesti commented on #116
This one is closed with https://github.com/camelot-project/frontend/pull/140

[2015-06-21 20:29] #116 closed

[2015-06-22 09:07] keflavich commented on #129
fixed:
![image](https://cloud.githubusercontent.com/assets/143715/8278809/495be88e-18c6-11e5-9ae8-91d995f841fa.png)
by #138

[2015-06-22 09:07] #129 closed

[2015-06-22 09:08] keflavich commented on #120
Partially addressed in #141

[2015-06-22 09:09] keflavich commented on #114
#140 partially addresses this by adding help text on the upload page

[2015-06-22 09:10] keflavich commented on #65
Partly addressed in #141

[2015-06-23 20:50] e-koch opened #143 "Hover not working for heavily overlapped points"
This became apparent when adding in Dario Colombo's dataset if ~1000 GMCs. The large cluster of GMCs in the plot leads to hover not working for most of them. The points on top (ie. that were plotted last) continue to work.

[2015-06-25 17:10] dcolombo opened #144 "Beta test with PAWS GMC catalog - Comments and Suggestions"
- Issues:

Generally, I did not have problem to understand how to upload the data, and to actually upload them. The instructions are pretty clear and straightforward. However, I was surprised when my data did not show up together with the others, by using the query tool.

The table created with the uploaded data appeared cut on one side (i.e. it overflowed on the right side of the page, above the

[2015-06-25 20:20] keflavich commented on #144
@dcolombo - thanks!

A few replies:
- Your data will not show up until one of the camelot members merges it.  This is the curation step, and it is intentional.
- The table display issue and difficulty differentiating data sets are real problems.  We have an open set of issues for the plot overlap problems (e.g. #123), but the table display is new.

Your issue 3 can be done, but we don't plan on au

[2015-06-25 21:36] dcolombo commented on #144
Thanks for your replies!

About point 4, I noted that when passing the pointer over the data points in the plot, a table with several useful information (as uploader name, object ID, ADS name, DOI etc.) appears. It would be nice to have a way to keep this table visible and to navigate it. I would like to be able to go on the DOI tag and open directly the related data paper.

For point 8, I meant f

[2015-06-26 01:10] scog1234 commented on #144
Quoting Adam Ginsburg notifications@github.com:

  We should make sure that we explain this properly in the
  documentation, and possibly also in the immediate feedback that
  you get after submitting a dataset.

  Simon

[2015-06-28 14:36] e-koch opened #146 "NaN handling problems in plots?"
Moved from https://github.com/radio-astro-tools/spectral-cube/issues/215

@keflavich - Matplotlib is handling the nans fine (as in skipping them) so long as zMax, zMin, xMax... are set.

Currently I think the only NaNs come up as radii, so we may want to still plot them using a special marker. This could be done in general for points which can still be plotted in the plane for 2 given parameters,

[2015-06-28 14:38] e-koch opened #147 "Plotting unit tests"
See #146 .

I have an outline for a test already, so I'm assigning myself.

[2015-06-28 18:50] e-koch opened #148 "Plotting discussion"
@keflavich @agianne @jimdale  - I think there's substantial work that needs to be done with expanding the plotting capabilities as well as trying to fix some of the current issues that have come up. Either way, most of that section likely needs to be re-thought.

It would be useful to get a discussion going either here or schedule a telecon in the coming weeks for anyone who wants to be involved w

[2015-06-28 21:41] agianne commented on #148
I will be happy to help! We have to start with a rough plan of the requirements for the new plotting routine. I suppose that we will end up writing some new plugins for mpld3.

[2015-06-30 16:54] e-koch commented on #143
This may help: http://stackoverflow.com/questions/15554908/d3-js-mouseover-fails-to-trigger-with-an-overlapping-object

[2015-06-30 21:23] e-koch commented on #58
Addressed in #130

[2015-06-30 21:23] #58 closed

[2015-07-02 14:40] aschruba opened #149 "Beta Test"
Hi Camelot Team,

great looking and nicely functional webpage! I have the following four comments for you:

--- Save / state the uploader's name but also the author's name with paper reference.
--- Allow the uploader to add notes (this could include the above reference info).
--- Save / state the spatial scale [parsec] of the data which is analyzed and make this a selection field.
--- I was not ab

[2015-07-02 15:53] keflavich commented on #149
@aschruba what error did you encounter when trying to upload the ascii file?  The others are good points we'll follow up on, but errors I want to address immediately.

[2015-07-23 10:31] jmdkastro opened #151 "Add gas/stars/both choice to query and database"
as title

[2016-03-06 12:02] keflavich opened #153 "Get DOI from zenodo (or elsewhere)"
See #152.  We should be able to get a zenodo DOI for this repository, but so far I've had no luck.

[2016-06-03 21:37] #153 closed

[2016-08-19 12:29] knut0815 opened #159 "author = 1st author or contact person?"
Which author should I put when I register a paper for somebody else who is not in science anymore? If it should be the 1st author, is there a way to list a contact person for this dataset?

[2016-08-30 08:58] knut0815 opened #160 "format not understood"
Can somebody please provide a working example for a table file that can be used with the upload form? I have followed closely the example shown on the website, but it doesn't work.

\DOI = "10.1051/0004-6361/201014177"
\ADS = "2010ApJ...711.1017P"
\author = ThomasPeters
\email = thomas.peters.uni.hd@gmail.com
\IsObserved = False
\IsGalactic = True
|  ID | Radius | SurfaceDensity | VelocityDispersi

[2016-08-30 09:01] knut0815 opened #161 "how to provide additional info on datasets?"
It would be good if it was possible to provide additional information on the datasets, e.g. whether a simulation includes magnetic fields and how strong they are. Maybe one can simply add a comment to data table file? Or can one simply add an additional column?

[2016-08-30 14:27] keflavich commented on #161
This is possible, but I guess we need to add some documentation showing how.

[2016-08-30 17:12] e-koch commented on #160
@knut0815 - Is this the screen that you get?

![image](https://cloud.githubusercontent.com/assets/3255771/18098976/c105aae6-6ea1-11e6-8581-265b8797cfbc.png)

There is an unmarked box right below the file name that you can manually specify the extension (ipac in this case). After adding that, it appeared to populate the upload form properly.

@keflavich -  We need to add a label for that box so it'

[2016-08-30 17:13] keflavich commented on #160
@e-koch thanks.  Also, there is a bug introduced by recent updates to astropy that `ipac` tables aren't auto-recognized, so the frontpage form will now always fail - the page you screenshotted should be the default instead.

[2016-08-31 10:05] knut0815 commented on #160
Ah I see, I have to upload the file twice. The first time it wasn't recognized that it is ipac format, but on the second upload form I can specify this. Thanks!